		* {		/*

			border: 1px rgba(187,127,192,0.8) solid;

			background-color: rgba(187,127,192,0.4);

			border: 0.8px rgb(103,76,198) solid;

		*/

		}

		body {

			font-family:sans-serif;

			background-color: rgb(230,231,233);

		}

		nav {

			background-color: rgb(46,49,146);

			margin-bottom:5px;

		}

		h1 {

			margin:0px 0px;

		}

		

		.link {

			color:white;

			text-decoration: underline;

			font-size:18px;

			padding:4px 12px;

		}

		.cap-letter {

			font-size:23px;

			font-weight:bold;

		}

		.content-body {

			padding:7px;

			background-color: rgb(188,189,193);

			margin-bottom:5px;

		}

		.content-body-heading {

			font-size:1.5em;

			font-weight:bold;

		}

		.content {

			background-color:white;

			color: rgb(129,130,134);

			padding:6px 10px;

			margin-top:7px;

		}

		.content-heading {

			color:black;

			font-weight:bold;

			font-size:1.1em;

		}

		footer {

			background-color: rgb(46,49,146);

			margin-bottom:5px;

			color:white;

			padding:4px 10px;

			display:block;

		}

		/*

		*/
